* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
}