    $page-bgr: #f5f6f8;
    $main-text: #3b434e;
    $secondary-text: #787d85;
    $search: #a4a4a4;
    $course-count: #b3c0d9;
    $border: #dfdfdf;
    $violet: #7653fc;
    $box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    $border-radius: 5px;