// COLORS
$page-bgr: #f5f6f8;
$main-text: #3b434e;
$secondary-text: #787d85;

$violet: #7653fc;
$violet-hover: #9479ff;
$light-gray: #ebebeb;
$gold: #dcb44e;
$green: #1dc47e;
$light-green: #c8f8e4;
$red: #fc836d;

$search: #a4a4a4;
$course-count: #b3c0d9;
$border: #dfdfdf;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

// SIZES
$border-radius: 5px;