.app {
    padding: 32px 88px 0 22px;
    min-height: 100vh;
    width: 100%;
    font-family: 'NanoSans', sans-serif;
    font-size: 14px;
    color: $main-text;
    background: $page-bgr;

    &__main {
        display: grid;
        grid-template-columns: 230px 1fr;
        column-gap: 30px;
    }
}