.footer {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $footer-height;
    background-color: $violet--100;
    color: white;
    font-size: 16px;

    &__links {
        gap: 40px;
    }
}