.header {
    padding: 32px 88px 0 22px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__logo {
        cursor: pointer;
    }

    &__title {
        @extend %h1;
        margin-left: 104px;
    }

    &__course-count {
        margin-left: 20px;
        padding: 6px 10px;
        display: block;
        font-weight: bold;
        color: white;
        background: $gray--40;
        border-radius: 20px;
    }
}