.sidebar-item {
    list-style: none;
    cursor: pointer;

    &--active {
        color: $violet--100;
    }

    &__info {
        display: flex;
        align-items: center;
        height: 25px;
        text-decoration: none;
        color: inherit;
    }

    &__image {
        margin-right: 20px;
        width: 24px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
    }

    &__list {
        margin: 22px 0 30px 12px;
        padding: 8px 0;
        border-left: 1px solid $gray--20;
    }

    &__list-item {
        margin-left: 32px;
        font-size: 12px;
        color: $gray--80;
        cursor: pointer;
    }

    &__sublist-item {
        font-weight: 600;
    }

    &__list-item:not(:first-child),
    &__sublist-item {
        margin-top: 4px;
        padding-top: 8px;
    }

    &-enter-active {
        transition: all 0.5s ease-out;
    }

    &-leave-active {
        transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(20px);
        opacity: 0;
    }
}