.sort {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;

    &--active {
        font-weight: 700;
        color: $violet--100;
    }

    &--active &__image {
        visibility: visible;
    }

    &__image-wrap {
        padding: 10px 0;
    }

    &__image {
        display: block;
        width: 20px;
        height: 14px;
        background: url('@/assets/image/sort.svg');
        background-repeat: no-repeat;
        transition: transform .5s ease;
        visibility: hidden;

        &--desc {
            transform: rotate(180deg);
        }
    }

    &__name {
        margin-left: 8px;
        padding: 10px 0;
    }
}