.sort {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;

    &--active {
        font-weight: 700;
        color: $violet--100;
    }

    &__image {
        padding: 20px 4px;
        display: block;
        transition: .5s ease;

        &--desc {
            transform: rotate(180deg);
        }
    }

    &__name {
        margin-left: 4px;
        padding: 10px 0;
    }
}