.transition-transform {

    &__list-item:not(:first-child),
    &__sublist-item {
        margin-top: 4px;
        padding-top: 8px;
    }

    &-enter-active {
        transition: all 0.5s ease-out;
    }

    &-leave-active {
        transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(20px);
        opacity: 0;
    }
}